<div>
  <form #form="ngForm"
        novalidate>
    <div class="form-input-group">

      <input type="email"
             name="email" 
             [ngModel]="user?.email"
             #email="ngModel"
             class="form-control" 
             placeholder="Enter Email"
             required>
      <div *ngIf="email.errors?.required && !email.pristine">
        Email is required
      </div>
      <input type="password" 
             name="password"
             [ngModel]="user?.password"
             #password="ngModel"
             class="form-control" 
             placeholder="Enter Password"
             required>
       <div *ngIf="password.errors?.required && !password.pristine">
        Password is required
      </div>
    </div>

    <div class="form-submit">
        <button type="submit"
                (click)="login(form.value, form.valid)"
                [disabled]="form.invalid"
                >submit</button>
    </div>
  </form>
</div>