<div>
  <form #form="ngForm"
        (ngSubmit)="login(form.value, form.valid)">
   {{ form | json }}
    <div class="form-input-group">

      <input type="email"
             name="email" 
             [(ngModel)]="user.email"
             class="form-control" 
             placeholder="Enter Email"
             required>
      <div *ngIf="email.errors?.required && email.dirty">
        Email is required
      </div>

      <input type="password" 
             name="password"
             [(ngModel)]="user.password"
             class="form-control" 
             placeholder="Enter Password"
             required>
       <div *ngIf="password.errors?.required && password.dirty">
        Password is required
      </div>
    </div>

    <div class="form-submit">
        <button type="submit"
                >submit</button>
    </div>

  </form>
</div>